---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1> Who I am? </H1>

               <p class="text-xl xl:text-2xl text-zinc-500 text-balance">
                    Born and raised in a small town, but in a big country — Russia. Not Russian, but Tatar.
                    I play with light and shadow, with silence and noise — creating or transmitting. 
                    Works speak louder than words — go and see.
               </p>
               
               {/* Фото под текстом */}
               <div class="w-full max-w-md mx-auto md:mx-0">
                    <img 
                         src="/images/me.jpg" 
                         alt="Rustem Akhunov" 
                         class="w-full h-auto rounded-lg shadow-2xl"
                    />
               </div>
          </div>

          <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-400 underline underline-offset-4 decoration-zinc-500">Who I am?</h2>

               <ul class="px-4 text-zinc-400 list-disc list-outside">
                    <li>Cinematographer</li>
                    <li>Filmmaker</li>
                    <li>Photographer</li>
                    <li>FPV Pilot</li>
               </ul>
          </div>
     </div>
</InfoLayout>